:root{
/*--▼ Design Colors ▼--*/
    --Black:#000000;/*--► rgba(0, 0, 0, 1) ◄--*/
    --White:#FFFFFF;/*--► rgba(255, 255, 255, 1) ◄--*/
/*--▲ Design Colors ▲--*/
}

/*--|▼| Global Styling |▼|--*/
*{
    font-family: Arial, Helvetica;
    padding: 0;
    margin: 0;
}
/*--|▲| Global Styling |▲|--*/
    






/*--|▼| Description |▼|--*/
/*--|▲| Description |▲|--*/

/*--▼ Note to Self ▼--*/
/*--► Note to Self ◄--*/