:root {
  /*--▼ Design Colors ▼--*/
  --Black: #000000; /*--► rgba(0, 0, 0, 1) ◄--*/
  --White: #ffffff; /*--► rgba(255, 255, 255, 1) ◄--*/
  /*--▲ Design Colors ▲--*/
}

/*--|▼| Global Styling |▼|--*/
* {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', 'Noto Sans HK', 'Noto Sans JP', 'Noto Sans KR',
    'Noto Sans SC', 'Noto Sans TC', Arial, sans-serif;
}

/*--|▲| Global Styling |▲|--*/

/*--|▼| Description |▼|--*/
/*--|▲| Description |▲|--*/

/*--▼ Note to Self ▼--*/
/*--► Note to Self ◄--*/
