:root{
/* Design Colors */
   --DairyCream:#F9E5BC;
   --IndianKhaki:#C7AB8A;
   --Leather:#967259;
/* Design Colors */
    
/* Generic Colors */    
   --Black:#000000;
   --White:#FFFFFF;

   --Green: #01b700;
   --Pistachio: #83CE01;
   --Yellow: #FFFA00;
   --Supernova: #FFCF00;
   --WebOrange: #FFA600;
   --FlushOrange: #FF7D01;
   --Scarlet: #FF2000;
   --PersianRose: #F62394;
   --PurpleHeart: #8B20BB;
   --InternationalKleinBlue: #0024BA;
   --Lochmara: #007AC7;
   --Cerulean: #00B3D4;
/* Generic Colors */
}
*{
 /* margin: Top Right Bottom Left; */
    margin: 0 0 0 0;
 /* padding: Top Right Bottom Left; */
    padding: 0 0 0 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica;
}
h1{
    text-align: center;
    padding: 1rem;
    color: var(--Leather);
    font-size: 46px;
}
h2{
 /* padding: Top Right Bottom Left; */
    padding: 2rem 0 0.5rem 10rem;
}
h3{
    padding: 0.5rem;
    color: var(--IndianKhaki);
}
p{
    font-size: 12px;
}
img{
    width: 100%;
}
.code{
    border: 6px solid var(--Leather);
    padding: 1rem;
}
.notes{
    border: 6px solid var(--DairyCream);
    padding: 1rem;
}








/*--▼ Seperation Example - Flexbox ▼--*/
/*--▲ Seperation Example - Flexbox ▲--*/

/* padding: (Top & Bottom) (Right & Left); */
/* margin: (Top & Bottom) (Right & Left); */

/* padding: Top Right Bottom Left; */
/* margin: Top Right Bottom Left; */