:root{
/*--▼ Design Colors ▼--*/
    --Black:#000000;/*--► rgba(0, 0, 0, 1) ◄--*/
    --White:#FFFFFF;/*--► rgba(255, 255, 255, 1) ◄--*/

    --DairyCream:#F9E5BC;/*--► rgba(249, 229, 188, 1) ◄--*/
    --IndianKhaki:#C7AB8A;/*--► rgba(199, 171, 138, 1) ◄--*/
    --Leather:#967259;/*--► rgba(150, 114, 89, 1) ◄--*/

    --OuterSpace:#1E2D2F;/*--► rgba(30, 45, 47, 1) ◄--*/
    --BlackPearl:#041F1E;/*--► rgba(4, 31, 30, 1) ◄--*/

    --CornflowerBlue:#6F9CEB;/*--► rgba(111, 156, 235, 1) ◄--*/
    --JordyBlue:#98B9F2;/*--► rgba(152, 185, 242, 1) ◄--*/
/*--▲ Design Colors ▲--*/
}

/*--|▼| Global Styling |▼|--*/
*{
    font-family: Arial, Helvetica;
    padding: 0;
    margin: 0;
}
/*--|▲| Global Styling |▲|--*/
/*--▼ Grid Index ▼--*/
body{
    display: grid;
    height: 100vh;

    grid-template-columns:            80px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 80px;
    grid-template-rows: /*► 01 ►*/    40px
                        /*► 02 ►*/    1fr
                        /*► 03 ►*/    1fr
                        /*► 04 ►*/    1fr
                        /*► 05 ►*/    1fr
                        /*► 06 ►*/    1fr
                        /*► 07 ►*/    1fr
                        /*► 08 ►*/    1fr
                        /*► 09 ►*/    1fr
                        /*► 10 ►*/    1fr
                        /*► 11 ►*/    1fr
                        /*► 12 ►*/    1fr
                        /*► 13 ►*/    1fr
                        /*► 14 ►*/    1fr
                        /*► 15 ►*/    1fr
                        /*► 16 ►*/    1fr
                        /*► 17 ►*/    1fr
                        /*► 18 ►*/    1fr
                        /*► 19 ►*/    1fr
                        /*► 20 ►*/    1fr
                        /*► 21 ►*/    1fr
                        /*► 22 ►*/    40px;
}
/*--▲ Grid Index ▲--*/
/*--▼ Index Page ▼--*/
a {
    text-decoration: none;/* No underline */
    color: inherit;
}
a:hover {
    transition: .25s;
    text-shadow: 0 0 10px rgba(152, 185, 242, .75);
}

.software-engineer{
    grid-column: 1/7;
    grid-row: 1/12;

    display: flex;
    align-items: center;
    justify-content: center;
   
    color: var(--DairyCream);
    background: var(--Leather);
}
.video-editor{
    grid-column: 7/13;
    grid-row: 1/12;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--Leather);
    background: var(--DairyCream);
}
.website-business{
    grid-column: 1/7;
    grid-row: 12/23;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--Leather);
    background: var(--DairyCream);
}
.production-business{
    grid-column: 7/13;
    grid-row: 12/23;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--DairyCream);
    background: var(--Leather);
}
/*--▲ Index Page ▲--*/






/*--|▼| Description |▼|--*/
/*--|▲| Description |▲|--*/

/*--▼ Note to Self ▼--*/
/*--► Note to Self ◄--*/