:root {
  /*--▼ Design Colors ▼--*/
  --Black: #000000; /*--► rgba(0, 0, 0, 1) ◄--*/
  --White: #ffffff; /*--► rgba(255, 255, 255, 1) ◄--*/

  --DairyCream: #f9e5bc; /*--► rgba(249, 229, 188, 1) ◄--*/
  --IndianKhaki: #c7ab8a; /*--► rgba(199, 171, 138, 1) ◄--*/
  --Leather: #967259; /*--► rgba(150, 114, 89, 1) ◄--*/

  --OuterSpace: #1e2d2f; /*--► rgba(30, 45, 47, 1) ◄--*/
  --BlackPearl: #041f1e; /*--► rgba(4, 31, 30, 1) ◄--*/

  --CornflowerBlue: #6f9ceb; /*--► rgba(111, 156, 235, 1) ◄--*/
  --JordyBlue: #98b9f2; /*--► rgba(152, 185, 242, 1) ◄--*/
  /*--▲ Design Colors ▲--*/
}

/*--|▼| Global Styling |▼|--*/
* {
  font-family: 'Mitr', Helvetica, Arial, sans-serif;
  font-weight: 400;
  list-style: none;
  padding: 0;
  margin: 0;
}
/*--|▲| Global Styling |▲|--*/
/*--|▼| Grid Index |▼|--*/
body {
  display: grid;
  height: 100vh;

  grid-template-columns: 80px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 80px;
  grid-template-rows:/*► 01 ►*/
    40px
    /*► 02 ►*/ 1fr
    /*► 03 ►*/ 1fr
    /*► 04 ►*/ 1fr
    /*► 05 ►*/ 1fr
    /*► 06 ►*/ 1fr
    /*► 07 ►*/ 1fr
    /*► 08 ►*/ 1fr
    /*► 09 ►*/ 1fr
    /*► 10 ►*/ 1fr
    /*► 11 ►*/ 1fr
    /*► 12 ►*/ 1fr
    /*► 13 ►*/ 1fr
    /*► 14 ►*/ 1fr
    /*► 15 ►*/ 1fr
    /*► 16 ►*/ 1fr
    /*► 17 ►*/ 1fr
    /*► 18 ►*/ 1fr
    /*► 19 ►*/ 1fr
    /*► 20 ►*/ 1fr
    /*► 21 ►*/ 1fr
    /*► 22 ►*/ 40px;
}
/*--|▲| Grid Index |▲|--*/
/*--|▼| Index (Software Engineer) |▼|--*/
#header {
  width: 100vw;
  margin: 10px 0 0 0;
  height: 30px;
}
#navigation {
  display: flex;
  justify-content: space-around;
  color: var(--Leather);
}
#navigation li:hover {
  transition: 0.15s;
  color: var(--JordyBlue);
  cursor: pointer;
}
.align-horizontally {
  display: flex;
}
.align-horizontally i {
  margin: 0 5px 0 0;
}
#portfolio {
  grid-column: 3/11;
  grid-row: 2/21;
  width: 100%;
  height: 100%;
}
.background {
  position: fixed;
  z-index: -5;
  opacity: 0.25;
  height: 100vh;
  width: 100vw;
}
/*--|▲| Index (Software Engineer) |▲|--*/
/*--|▼| Portfolio (Software Engineer) |▼|--*/
.underline {
  width: 0;
  height: 0;
  margin: -10px 0 0 0;
  border: 3px solid var(--Leather);
  transition: 2s ease, border 2s ease;
}
.active-list h1 {
  color: var(--JordyBlue);
  cursor: default;
}

.portfolio-all:hover .underline,
.active-list :is(.portfolio-all .underline) {
  width: 33px;
  color: var(--JordyBlue);
  border: 3px solid var(--JordyBlue);
}
.portfolio-html:hover .underline,
.active-list :is(.portfolio-html .underline) {
  width: 183px;
  color: var(--JordyBlue);
  border: 3px solid var(--JordyBlue);
}
.portfolio-javascript:hover .underline,
.active-list :is(.portfolio-javascript .underline) {
  width: 156px;
  color: var(--JordyBlue);
  border: 3px solid var(--JordyBlue);
}

/*--|▲| Portfolio (Software Engineer) |▲|--*/

/*--|▼| Description |▼|--*/
/*--|▲| Description |▲|--*/

/*--▼ Note to Self ▼--*/
/*--► Note to Self ◄--*/
